
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


body {
  color: #212121;
  background-color: #B6B6B6;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: #FFFFFF;
  background-color: #03A9F4;
  margin: 0 0 0.4rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 0;
}

h1 {
  margin: 0;
}

input {
  display: block;
}

#color-card {
  margin: 0 auto;
  width: 14rem;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.color-square-bg {
  width: 14rem;
  height: 14rem;
  position: relative;
  background-color: #eee;
  background-image: linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray),
                    linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray);
  background-size: 1rem 1rem;
  background-position: 0 0, 0.5rem 0.5rem;
  overflow: hidden;
}

#color-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
}
