html {
  color: white;
  background-color: darkgray;
}

input {
  display: block;
}

#container {
  width: 20rem;
  height: 20rem;
  position: relative;
  border: 4px solid gray;
  background-color: #eee;
  background-image: linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray),
                    linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray);
  background-size:20px 20px;
  background-position:0 0, 10px 10px
}

#color-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
}
